extends ../layout

block content
    h1= title
    p
        a.button(href='/books/new') Create New Book

    form.search-form(action='/books', method='get')
        div.search-container
            input.search-input(type='search', name='search', placeholder='Search...' value=`${query}`)
            input.search-submit(type='submit', value="search")
            if query
                a.button.clear-search(href='/books') Reset
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year
        tbody
            each book in books
                tr
                    td
                        a(href = "/books/" + book.id)= book.title
                    td= book.author
                    td= book.genre 
                    td= book.year
   
    div.pagination
        ul
            each button in buttons
                li(class=`${activePage == button ? 'active': ''}`)
                    if button == 1
                        a.button.page_btn(href="/books/")= button
                    else
                        a.button.page_btn(href=`?page=${button}`)= button